.display {
  border: solid 1px black;
  padding: 15px;
  margin-bottom: 10px;
  width: 350px;
  height: 20px;
}

.buttons {
  display: flex;
}

button {
  padding: 10px 40px;
  margin: 2px;
  width: 90px;
}
