* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.container {
  width: 100%;
  max-width: 400px;
  margin: 90px auto 0;
}

.display {
  border: 1px solid #c9c9c9;
  border-radius: 10px;
  height: 60px;
  margin-bottom: 20px;
  padding: 15px;
  font-size: 20px;
  text-align: right;
}

.buttons {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  gap: 10px;
}

button {
  width: 90px;
  height: 45px;
  border: 0;
  border-radius: 20px;
  cursor: pointer;
    
}
